<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>

    {{!-- 選單 --}}
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" style="color:rgb(0, 0, 0)" href="/Warehousing">
                        <b>材料管理</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:rgb(0, 0, 0)" href="/ordermanage">
                        <b>訂單管理</b>
                    </a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" style="color:rgb(0, 0, 0)" href="/purchase">
                        <b>進貨管理</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"style="color:rgb(0, 0, 0)" href="/mrp">
                        <b>MRP</b>
                    </a>
                </li> 
            </ul>
        </div>
    </div>

    {{!-- navbar --}}
    <nav class="navbar navbar-dark bg-dark">
        <span>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </span>
        <h4>木製家具批發公司</h4>
        <ul>
            <li><a href="/login">Sign out</a></li>
        </ul>
    </nav>

    <div class="container" style="width:50rem;">
        <div class="row">
            <div class="col-12 mt-4">
                <h2>Add bom</h2>
                <hr>
                <form method="POST" action="/auth/addbom">
                    <div id="firtit">
                        <div class="cloneit">
                            <div class="form-group row">
                                <label for="commodity" class="col-sm-2 col-form-label" style="font-weight:bold;font-size:18px;">物品名稱</label>
                                <div class="col-sm-10">
                                    <select id="name" name="name" class="form-select " aria-label="Default select example">
                                        <option>Open this select menu</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="commodity" class="col-sm-2 col-form-label" style="font-weight:bold;font-size:18px;">組成材料</label>
                                <div class="col-sm-10">
                                    <select id="material" name="material" class="form-select " aria-label="Default select example">
                                        <option>Open this select menu</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="commodity" class="col-sm-2 col-form-label" style="font-weight:bold;font-size:18px;">材料數量</label>
                                <div class="col-sm-10">
                                    <input type="number" name="number" class="form-control">
                                </div>
                            </div>

                            <hr>

                        </div>
                    </div>

                    <div id="moreit">

                    </div>

                    <div class="mt-4">
                        <center>
                            <button type="submit" class="btn btn-secondary" >submit</button>
                        </center>
                    </div>
                </form>
                <button type="submit" class="btn btn-secondary" onclick="addmaterial();">add</button>

            </div>

        </div>

    </div>
    
    <script type="text/javascript">
        function addmaterial(){
            $('#firtit .cloneit').clone().find('input').val('').end().appendTo('#moreit');
        }

        //將渲染引擎的格式轉成JSON
        let results = '{{results}}';
        results = results.replaceAll('&quot;', '"');
        results = JSON.parse(results);
        
        for(let i = 0;i < results.length;i++){
            let sel = document.createElement("option");
            let a = document.createAttribute('value');
            a.value = results[i].MID;
            sel.setAttributeNode(a); 
            sel.innerHTML= results[i].Mname;
            document.getElementById("name").appendChild(sel);
        }

        for(let i = 0;i < results.length;i++){
            let sel = document.createElement("option");
            let a = document.createAttribute('value');
            a.value = results[i].MID;
            sel.setAttributeNode(a); 
            sel.innerHTML= results[i].Mname;
            document.getElementById("material").appendChild(sel);
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
</body>
</html>