<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body id="c">

    {{!-- 選單 --}}
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" style="color:rgb(0, 0, 0)" href="/Warehousing">
                        <b>材料管理</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:rgb(0, 0, 0)" href="/ordermanage">
                        <b>訂單管理</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:rgb(0, 0, 0)" href="/purchase">
                        <b>進貨管理</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:rgb(0, 0, 0)" href="/mrp">
                        <b>MRP</b>
                    </a>
                </li> 
            </ul>
        </div>
    </div>

    {{!-- navbar --}}
    <nav class="navbar navbar-dark bg-dark">
        <span>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </span>
        <h4>木製家具批發公司</h4>
        <ul>
            <li><a href="/login">Sign out</a></li>
        </ul>
    </nav>

    {{!-- bom 表 --}}
    
    <div class="container mt-5 " style="width:70rem;">
        <div class="table-responsive" >
            
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>品名</th>
                        <th>組成材料</th>
                    </tr>
                </thead>
                <tbody id="tb">

                </tbody>
            </table>
            <div class="col-6 d-flex justify-content-end" >
                <button type="button" class="btn btn-primary"><a  href="/addbom" style="color:white;text-decoration:none;">增加bom表</a></button>
            </div>
        </div>
    </div>

    <script>
        //將渲染引擎的格式轉成JSON
        let results = '{{results}}';
        results = results.replaceAll('&quot;', '"');
        results = JSON.parse(results);

        let bom = results[0];//存bom資料表
        let material = results[1];//存material資料表


        let tmp = 0;
        let count = 0;
        let tr;
        let td;
        let Pname = [];
        let Mname = [];
        let Mnumber = [];
        let Mname2 = [];

        for(let i = 0; i < bom.length; i++){
            if(tmp != bom[i].MID){
                if(i != 0){
                    count = count + 1;
                }
                tmp = bom[i].MID;


                for(let j = 0; j < material.length;j++){
                    if(bom[i].MID == material[j].MID){
                        Pname[count] = material[j].Mname;
                    }
                    if(bom[i].material == material[j].MID){
                        Mname[count] = new Array();//二維陣列
                        Mname[count].push(material[j].Mname);
                        Mnumber[count] = new Array();//二維陣列
                        Mnumber[count].push(bom[i].number);
                    }
                }

            }else{

                for(let j = 0; j < material.length;j++){
                    if(bom[i].material == material[j].MID){
                        Mname[count].push(material[j].Mname);
                        Mnumber[count].push(bom[i].number);
                    }
                }

            }
        }

        for(let i = 0; i < (count+1); i++){
            for(let j = 0; j < Mname[i].length;j++){
                if(j == 0){
                    Mname2[i] = Mname[i][j] + '(' + Mnumber[i][j] + ')';
                }else{
                    Mname2[i] = Mname2[i] + ',' + Mname[i][j] + '(' + Mnumber[i][j] + ')';
                }
            }
        }
        
        for(let i = 0; i < (count+1); i++){
            tr = document.createElement("tr");
            tr.innerHTML = '<td>'+Pname[i]+'</td><td>'+Mname2[i]+'</td'
            document.getElementById("tb").appendChild(tr);
        }

        


    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
</body>
</html>